@model Assignment
@{
    ViewData["Title"] = "Lesson";
}



<div class="kursy-container">

        <span class="create-button">
            <a   asp-controller="Lesson" asp-action="Create">+</a>
            </span>
    <table class="tabela-kursy">
        <thead>
            
            <tr>
                <th>@Html.DisplayNameFor(model => model)</th>
                
             

                   
                
                   
            </tr>
        </thead>
        <tbody>

           <td>@Model.Answer.TextAnswer</td>
           <td>@Model.AssignmentText</td>
          
   @*    @if(Model.Answer!=null)
                {
                
             @foreach(var item in Model)
            {

            <tr>
                <td >
                   
                   @item.TextAnswer

                </td>
                 <td >
                   
                   @item.Real

                </td>
                <td>
                 
                    <a class="btn btn-primary" asp-route-id="@item.Id" asp-controller="Assignment" asp-action="Index">detale</a>
                </td>
            </tr>
            }
                }

            <div>*@
       @*      
           @foreach(var item in Model.lesson.Assignments)
            {

            <tr>
                <td >
                   
                   @item.AssignmentText

             
             
                    <a class="btn btn-primary" asp-route-id="@item.Id" asp-controller="Assignment" asp-action="Index">detale</a>
                </td>
            </tr>
            }*@
   
            </div>
        </tbody>
    </table>

   
    
</div>
