@model IEnumerable<Assignment>
@{
    ViewBag.Tittle = "Assignments";
    ViewBag.Tittle = "Clients";

}

<div class="kursy-container">

         @foreach(var item in Model)
            {
     <div class="lesson-content">
        <div class="lesson-start">
            <div class="lesson-start-title">
                <p class="start-title">LESSON @item.LessonId</p>
            </div>
        </div>
        <div class="lesson-start-text">
              @if(!(ViewBag.Clients==null))    @* to jest if do pokazywania czy ktos ma suba *@
           {
                <label>chuj dziala zajebisty jestem</label>
            }
            else
            {
                <label>chuj2</label>
            }
        </div>
    </div>
  
    <div class="lesson-zadanie">
        <div class="title">
            <p class="zadanie-title">ZADANIE @item.Id</p>
        </div>
        
        <div class="tresc">
            <p class="polecenie">
                  @item.AssignmentText
            </p>
           
            @foreach(var meti in item.answers)
                {
                    <script>
                        function show(index,odp){
                            alert(index)
                        var x = document.getElementsByClassName(index);
                        alert(x[0].className)
                        if(x[1].style.display === "none"){

                        x[1].style.display = "block";

                        if(x[0].value === odp){
                        x[1].style.color = "green";
                        }else{
                        x[1].style.color = "red";
                        }
                        }            
                        }
                    </script>
                    var str = @meti.TextAnswer.Replace(" ", "");
                    <input class=@str id="odp-input"  type="text"/>
                 <div class=@str style="display: none;">

                     <p class="tresc-odp">  @meti.TextAnswer </p>
                            
                 </div>
                  <input type="button" value="SPRAWDZ" class="lesson-zadanie-button" onclick=" show('@str', '@meti.TextAnswer')" >
              }
          
        </div>
    </div>

    <div class="lesson-zadanie">
        <div class="title">
            <p class="zadanie-title">CIEKAWOSTKA</p>
        </div>
        <div class="tresc">
            <p class="polecenie">
               @item.curiosity
            </p>
        </div>
    </div>


    @*

          @foreach(var item in Model)
            {
                <tr>
                <td>
                    @item.AssignmentText
                </td>

                 <td>
                        @foreach(var meti in item.answers)
                        {
                            @meti.TextAnswer
                        }
                    </td>
              </tr>
                
            }

       *@
   
   } 
</div>