@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<div class="login-content">
      <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <p class="login-title"> CREATE A NEW ACCOUNT </p>
            
           <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="E-mail" 
           onfocus="this.placeholder=''" onblur="this.placeholder='E-mail'"/>
           <!--<label asp-for="Input.Email" class="form-label"></label> -->
           <span asp-validation-for="Input.Email" class="text-danger"></span>
           <br/>
           <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password"
           onfocus="this.placeholder=''" onblur="this.placeholder='Password'"/>     
           <!--<label asp-for="Input.Password" class="form-label"></label>-->
           <span asp-validation-for="Input.Password" class="text-danger"></span>
           <br/>
           <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"   placeholder="Confirm password"
           onfocus="this.placeholder=''" onblur="this.placeholder='Confirm password'"/>
           <!--<label asp-for="Input.ConfirmPassword"></label>-->
           <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
           <br/>
          <br/>
             <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        
           <br/>
      </form>
            
           <section>
               @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        { 
                              <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                              </p>
                        }
                    else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                      @foreach (var provider in Model.ExternalLogins)
                                         {
                                              <button class="google" type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><img id="zdjecie-google" src="~/img/google.jpg"/></button>
                                            }
                                     </p>
                                 </div>
                           </form>
                        }    
               }
           </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

    
    
    
    
    
    
    
    
    
    
    